body {
	background-color: #090c38;
	height: 100%;
}

.content {
	background-color: white;
	height: 32vw;
}

h4 {
	padding-top: 1.5vw;
	padding-bottom: 1vw;
	font-size: 2vw;
}

h6 {
	font-size: 1.65vw;
}

#button {
	margin-top: 8vw;
}

#add, #delete {
	margin-bottom: 20px;
	background-color: #f8a22f;
	color: white;
	opacity: 0.5;
	font-size: 1.5vw;
}

#f1:hover, #f2:hover, #f3:hover, #f4:hover {
	background-color: #f8a22f;
	cursor: pointer;
}

.container {
	margin-bottom: 1vw;
}

img {
	width: 20%;
	height: auto;
}

@media (min-width: 320px) and (max-width: 425px) {
.content {
	height: 50vw;
}
.row {
	margin-right: 5px;
	margin-left: 5px;
}
.container {
	margin-bottom: 5vw;
}
h4 {
	font-size: 3vw;
}
h6 {
	font-size: 2.5vw;
}
#add, #delete {
   font-size: 2.3vw
}
img {
	width: 37%;
	height: auto;
}
}

@media (min-width: 320px) and (max-width: 325px) {
	h4 {
	padding-top: 1vw;
}
#options, #cart {
	margin-top: -1vw;
}
}

@media (min-width: 768px) and (max-width: 1440px) {
.container {
	margin-bottom: 2vw;
}
}

div#f1 h6, div#f2 h6, div#f3 h6, div#f4 h6 {
	display: inline;
	margin-left: 0.8vw;
}

#f1, #f2, #f3, #f4 {
	margin-bottom: 1vw;
}
