body {
	background-color: #090c38;
	height: 100%;
}

.content {
	background-color: white;
	height: 200px;
}

h4 {
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 2vw;
}

h6 {
	font-size: 1.65vw;
}

#options, #cart {
	padding-bottom: 10px;
}

#button {
	margin-top: 35px;
}

#add, #delete {
	margin-bottom: 20px;
	background-color: #f8a22f;
	color: white;
	opacity: 0.5;
	font-size: 1.5vw;
}

#f1:hover, #f2:hover, #f3:hover, #f4:hover {
	background-color: #f8a22f;
	cursor: pointer;
}

.container {
	margin-bottom: 1vw;
}

@media (min-width: 320px) and (max-width: 425px) {
	.content {
	 height: 150px;
}
.row {
	margin-right: 5px;
	margin-left: 5px;
}
.container {
	margin-bottom: 5vw;
}
h6 {
	font-size: 2.5vw;
}
#add, #delete {
   font-size: 2.3vw
}
}

@media (min-width: 768px) and (max-width: 1440px) {
.container {
	margin-bottom: 2vw;
}
}

@media (min-width: 1440px) and (max-width: 1444px) {
	.content {
	 height: 300px;
}
}

@media (min-width: 1445px) and (max-width: 2560px) {
	.content {
	 height: 500px;
}
}
